html {
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
  line-height: 1;
  max-width: 1920px;
  margin: 0 auto;
}
input,
button,
textarea,
select {
  font-size: 16px;
  outline: none;
  border: 0;
}
input {
  line-height: normal;
}
